.about
  .about__container
    .block-head
      span.block-head__title.title О компании
    .about__content
      img(src="img/content/image_content.jpg", alt="").about__image
      h2 Ажурный век
      p Фамилия Кузнецов является одной из самых распространенных в нашей стране. Это говорит о том, что ремесло было очень популярным и почетным на Руси. А в мире однофамильцев Кузнецовых миллионы: Коваль, Ковалевский, Ковальчук, Шмидт, Смит, Ферран, Ковач и так далее. Примечательно, что у англичан и американцев самой популярной является фамилия «Смит», которая тоже переводится как «кузнец».
      h3 Ажурный век
      p Среди правителей было немало тех, кто освоил, или пытался освоить, кузнечное дело. Например, Петр Первый принимал активное участие в ковке корабельных якорей на судо-верфи в Воронеже. Король Франции Карл IX лично ковал замки и ключи, а у Людовика XIV в Версальском дворце даже была своя кузница. С языческих времен среди почитаемых богов были кузнецы или их потомки, связанные со стихией огня и процессом обработки железа. Так Гефест - греческий бог-кузнец, Тор - скандинавский, Воланд — европейский. В народных поверьях часто считается, что кузнецы знаются с нечистой силой. Слово «коварство» произошло от глагола «ковать». Какая связь? Славяне считали кузнечное ремесло загадочным и непонятным. Поэтому, кузнецов не только уважали, но и побаивались.
      h4 Ажурный век
      p Художники и скульпторы чаще всего изображали кузнецов с огромными мышцами, легко орудующими огромным молотом. Но, так, чаще всего, выглядели не кузнецы, а молотобойцы. Их обязанности различались: кузнец руководил процессом ковки, легким молотком указывая молотобойцу место, куда нужно нанести удар молотом. Поэтому, можно сказать, что кузнец выполнял интеллектуальную часть работы, а молотобоец – физическую. Забава ирландских кузнецов (или молотобойцев) со временем превратилась в серьезную спортивную дисциплину, которая входит даже в программу Олимпийских игр. В свободное время они устраивали соревнования – кто дальше метнет кузнечный молот. Соревнования стали так популярны, что являются сейчас одним из видов легкой атлетики. 
      h5 Ажурный век
      p На Руси существовала легенда о кузнеце, который обладал отличным здоровьем. Каждое утроон отправлялся в кузницу, которая находилась в нескольких верстах от дома. Чтобы не терять время, кузнец поставил избу рядом с кузницей. И вскоре тяжело заболел. Оказывается, ежедневные прогулки помогали выводить из легких вредные вещества, которые кузнец вдыхал во время работы. Кузницы строились на окраине деревни или села, рядом обязательно должен был находиться водоем. Это было связано с тем, что кузнечное дело было огнеопасным. Достаточно одной искры, чтобы кузница вспыхнула, а вслед за ней и соседние строения. Династия промышленников Демидовых берет свое начало от тульского кузнеца-оружейника Никиты Демидова, который изготавливал оружие еще для  потешных войск молодого Петра. Старания Демидова не пропали, благодаря расположению царя, он стал одним из богатейших людей России.
      h6 Список:
      ul.about__list
       li первый
       li второй
       li третий
      h6 Таблица
      .table-container
        table.table.about__table
          tr
            td Наименование перечня
            td Ед.измерения 
            td Цена
          tr
            td Кованые петли покрытые бронзой / золотом / серебром
            td 2 шт. 
            td 1 280 Р.
          tr
            td Кованые петли покрытые бронзой / золотом / серебром
            td 2 шт. 
            td 1 280 Р.
          tr
            td Кованые петли покрытые бронзой / золотом / серебром
            td 2 шт. 
            td 1 280 Р.