footer.footer
  .footer__nav
    .container
      nav.nav
        .nav__head
          span.nav__title Меню
          a(href="#").mobile-button
            span
        .nav__container
          .nav__content
            ul.nav__list
              li.nav__item
                a(href="#").nav__link Главная
              li.nav__item
                a(href="#").nav__link О компании
              li.nav__item
                a(href="#").nav__link Каталог работ
              li.nav__item
                a(href="#").nav__link Политика цен
            ul.nav__list
              li.nav__item
                a(href="#").nav__link.nav__link_contacts Контакты
  .container
    img(src="img/backgrounds/Footer_door_200x260.png", alt="").footer__bg
    .footer__container
      .footer__section
        span.footer__text <strong>Кованные изделия на заказ г. Екатеринбург</strong><br> Художественная ковка по эскизам в Свердловской области: Березовский, Верхняя Пышма, Арамиль и другие города в радиусе 150 километров от Екатеринбурга.
        .footer__links
          h6.footer__links-title Официальные группы и подписки:
          .footer__links-container
            .socials
              ul.socials__list
                li.socials__item
                  a(href="#").socials__link.socials__link_vk В контакте
                li.socials__item
                  a(href="#").socials__link.socials__link_fb В Фейсбуке
            .footer__counter
        span.copy © 2014 – 2019 г. При использовании материалов, прямая индексируемая гиперссылка на www.ajvek.ru обязательна.  
      .footer__section
        span.footer__text <strong>Торгово-произзводственная</strong><br> компания «Ажурный Век» (ИП Кузмичев АА) Россия, Свердловская область, г. Березовский, <br>п. Становая, улица Ленина, 21.
        .footer-contacts
          span.footer-contacts__title Телефоны:
          ul.footer-contacts__list
            li.footer-contacts__item
              a(href="tel:79041710175").footer-contacts__link +7 (904) 171-01-75
            li.footer-contacts__item
              a(href="tel:79326043250").footer-contacts__link +7 (932) 604-32-50
            li.footer-contacts__item
              span.footer-contacts__item-label E-mail:
              a(href="mailto:zakaz@ajvek.ru") zakaz@ajvek.ru

