.gallery.block
  .gallery__container
    .gallery__head  
      span.gallery__title.title Галерея текущих изделий в работе
    .gallery__content
      button.gallery__button-prev
      button.gallery__button-next
      .gallery-slider
        .gallery-slider__slide
          img(src="img/gallery/image_001.jpg", alt="")
        .gallery-slider__slide
          img(src="img/gallery/image_002.jpg", alt="")
        .gallery-slider__slide
          img(src="img/gallery/image_003.jpg", alt="")
        .gallery-slider__slide
          img(src="img/gallery/image_004.jpg", alt="")
        .gallery-slider__slide
          img(src="img/gallery/image_001.jpg", alt="")
        .gallery-slider__slide
          img(src="img/gallery/image_002.jpg", alt="")

