header.header
  .container
    .header__container
      nav.nav
        .nav__head
          span.nav__title Меню
          a(href="#").mobile-button
            span
        .nav__container
          .nav__content
            ul.nav__list
              li.nav__item
                a(href="#").nav__link Главная
              li.nav__item
                a(href="#").nav__link О компании
              li.nav__item
                a(href="#").nav__link Каталог работ
              li.nav__item
                a(href="#").nav__link Политика цен
            ul.nav__list
              li.nav__item
                a(href="#").nav__link.nav__link_contacts Контакты
          