.home
  .container
    .home__container
      .home__background(data-src='img/backgrounds/Top_center_baner_1280x500.jpg').lazy
      .logo
        a(href="#").logo__link
          img(src="img/logos/Top_center-logo_300x135.png", alt="").logo__image
          h1.logo__slogan Красивые решения из металла
      .home__content
        span.home__adress г. Березовский, <br> п. Становая, ул. Ленина, 9
        ul.home__list
          li.home__item
            a(href="tel:79041710175").home__number +7 904 171 01 75
          li.home__item
            a(href="tel:79326043250").home__number +7 932 604 32 50
        a(href="mailto:zakaz@ajvek.ru").home__mail zakaz@ajvek.ru


